@font-face {
  font-family: Shadow;
  src: url('../assets/fonts/Shadow.ttf');
}
@font-face {
  font-family: Bip;
  src: url('../assets/fonts/Bip.ttf');
}
* {
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background: #DCF6FB;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: '';
  background: url('../assets/images/bg.jpg') center no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.window {
  position: relative;
  max-width: 414px;
  min-width: 320px;
  font-family: Shadow;
  display: flex;
  align-items: center;
}
.welcome {
  padding: 30px 50px;
  max-width: 280px;
  font-size: 24px;
  text-align: center;
  color: #925C28;
  line-height: 28px;
  font-weight: bold;
}
.play-btn {
  width: 200px;
  height: 53px;
  color: #FFFFFF;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 15px;
}
.login {
  font-size: 16px;
  padding: 15px 20px;
  max-width: 250px;
  margin: 25px auto 5px;
  line-height: 22px;
  text-align: center;
  color: #925C28;
  font-weight: bold;
}
.login > span {
  color: #05b23f;
  text-decoration: underline;
}
.agreement {
  text-align: center;
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.auth {
  padding: 25px 65px 10px 65px;
  font-size: 22px;
  text-align: center;
  color: #925C28;
  font-weight: bold;
}
textarea:focus, input:focus { outline: none; }
.login-pass {
  height: 40px;
  width: 75%;
  border: 0;
  padding: 0 20px;
  background: #FFFFFF;
  border-radius: 11px;
  box-sizing: border-box;
  margin: 10px auto 0;
  display: block;
  font-family: Bip;
}
.big-btn-css {
  color: #FFFFFF;
  text-align: center;
  width: 75%;
  height: 40px;
  padding-top: 12px;
  font-size: 14px;
  margin: 5px auto 0;
  box-sizing: border-box;
}
.mt-10 { margin-top: 10px !important; }
.error {
  color: #FF0000;
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
.unknown-error {
  padding: 70px 50px 30px 50px;
  max-width: 280px;
  font-size: 24px;
  text-align: center;
  color: #925C28;
  line-height: 28px;
  font-weight: bold;
}
.reload-btn {
  width: 220px;
  height: 53px;
  color: #FFFFFF;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 15px;
}
.reg-error {
  font-size: 11px;
  margin: 15px auto 0;
  line-height: 14px;
  color: #FF0000;
  text-align: center;
  padding: 5px 25px;
  width: 320px;
}
.header {
  background: url('../assets/images/modal/header-syst.png') no-repeat;
  background-size: 100% 100%;
  height: 55px;
  color: #F9D48D;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
.footer {
  background: url('../assets/images/modal/bottom-syst.png') no-repeat;
  background-size: 100% 100%;
  height: 44px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  z-index: -1
}
.middle-btn {
  background: url('../assets/images/modal/middle-button.png') no-repeat;
  background-size: 100% 100%;
}
.big-btn {
  background: url('../assets/images/modal/btn_lg.png') no-repeat;
  background-size: 100% 100%;
}
.orange-big-btn {
  background: url('../assets/images/modal/btn_lo.png') no-repeat;
  background-size: 100% 100%;
}
.close {
  position: absolute;
  top: -50px;
  right: 0px;
  height: 55px;
  width: 55px;
  background: url('../assets/images/modal/header_close.png') no-repeat;
  background-size: 100% 100%;
}
.body-window {
  background: url('../assets/images/modal/mid-syst.png') no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.big-btn-reg {
  position: relative;
  color: #FFFFFF;
  text-align: left;
  width: 75%;
  height: 40px;
  padding: 13px 20px 0px 20px;;
  font-size: 14px;
  margin: 5px auto 0;
  box-sizing: border-box;
}
.big-btn-reg > span {
  position: absolute;
  right: 20px;
}
.big-btn-reg > span::before {
  content: '+';
  position: absolute;
  top: -7px;
  left: -36px;
  font-size: 26px;
}
.big-btn-reg > span::after {
  content: '';
  background: url('../assets/images/icons/diamonds.png') no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -23px;
  top: -6px;
}
.enter-nickname {
  text-align: center;
  padding: 10px;
  color: #925C28;
}
.need-help {
  font-family: Bip;
  font-size: 14px;
  text-align: center;
  max-width: 290px;
  color: #925C28;
  padding: 10px 20px;
}
.support { color: #925C28; }
.support::-webkit-input-placeholder { color:#925C28; }
.support::-moz-placeholder { color:#925C28; }
.support:-moz-placeholder { color:#925C28; }
.support:-ms-input-placeholder { color:#925C28; }
.support-text {
  height: 120px;
  display: block;
  background: #FFFFFF;
  border-radius: 11px;
  border: 0;
  width: 75%;
  margin: 10px auto 0;
  padding: 10px 20px;
  color: #925C28;
  font-size: 13px;
  font-family: Bip;
  box-sizing: border-box;
  resize: none;
}
.red-border { border: 1px solid red; }
.chat {
  width: 300px;
  height: 300px;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;
}
.chat-inside {
  position: absolute;
  left: 0;
  right: -20px;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  box-sizing: border-box;
  padding: 10px 0;
}

/* чат */
.my-message,
.user-message {
  width: 100%;
  display: flex;
}
.my-message { margin-left: 35px; }
.my-message > div,
.user-message > div {
  width: 75%;
  padding: 13px 15px;
  box-sizing: border-box;
  border-radius: 12px;
}
.my-message > div {
  margin: 5px 40px 5px 5px;
  background: #7837C8;
}
.user-message > div {
  margin: 5px 5px 5px 18px;
  background: #FEFBEE;
}
.chat-login-time {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.user-message > div > .chat-login-time,
.my-message > div > .chat-login-time {
  font-family: Bip;
  font-size: 13px;
  line-height: 13px;
}
.user-message > div > .chat-login-time { color: #FE5F26; }
.user-message > div > .chat-text,
.user-message > div > .chat-login-time > .chat-time { color: #A45C28; }
.my-message > div > .chat-login-time, 
.my-message > div > .chat-text { color: #fff; }
.chat-login-time { text-align: left; }
.chat-text {
  text-align: left;
  font-family: Bip;
  font-size: 13px;
  line-height: 15px;
  word-wrap: break-word;
}
.chat-time {
  flex: 1 1 0;
  font-size: 10px;
  text-align: right;
}
.aa {
  background: url('../assets/images/emoji/aa.gif') center no-repeat;
  background-size: 100% 100%;
}
.ab {
  background: url('../assets/images/emoji/ab.gif') center no-repeat;
  background-size: 100% 100%;
}
.ac {
  background: url('../assets/images/emoji/ac.gif') center no-repeat;
  background-size: 100% 100%;
}
.ab {
  background: url('../assets/images/emoji/ab.gif') center no-repeat;
  background-size: 100% 100%;
}
.ae {
  background: url('../assets/images/emoji/ae.gif') center no-repeat;
  background-size: 100% 100%;
}
.af {
  background: url('../assets/images/emoji/af.gif') center no-repeat;
  background-size: 100% 100%;
}
.ag {
  background: url('../assets/images/emoji/ag.gif') center no-repeat;
  background-size: 100% 100%;
}
.ah {
  background: url('../assets/images/emoji/ah.gif') center no-repeat;
  background-size: 100% 100%;
}
.ai {
  background: url('../assets/images/emoji/ai.gif') center no-repeat;
  background-size: 100% 100%;
}
.aj {
  background: url('../assets/images/emoji/aj.gif') center no-repeat;
  background-size: 100% 100%;
}
.emoji {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.chat-input-block {
  padding-top: 9px;
  position: absolute;
  right: 25px;
  left: 25px;
  bottom: -21px;
  height: 48px;
  display: flex;
  justify-content: center;
  background: #FFF7D6;
}
.chat-input-block input {
  width: calc(100% - 50px);
  height: 39px;
  background: #FFFFFF;
  border-radius: 31px;
  box-sizing: border-box;
  border: 0;
  color: #A45C28;
  font-family: Bip;
  font-size: 13px;
  padding: 0 40px 0 20px;
}
.send-message-button {
  width: 39px;
  height: 39px;
  background: #7837C8 url('../assets/images/icons/send-message.png') 46% 50% no-repeat;
  background-size: 40%;
  border-radius: 50%;
  margin-left: 7px;
  position: relative;
}
.emoji-icon {
  position: absolute;
  top: 20px;
  right: 63px;
  width: 18px;
  height: 18px;
  background: url('../assets/images/icons/emoji.png') no-repeat;
  background-size: 100% 100%;
}
.emoji-block {
  height: 45px;
  position: absolute;
  background: #FFF7D6;
  right: 25px;
  left: 25px;
  bottom: -13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 30px 0 20px;
  box-sizing: border-box;
  border-top: 3px solid #F2E8C5;
}
/* чат */

.enter-mail {
  color: #925C28;
  margin: 25px auto 15px;
}

/* проверка рекламы */

#adblock {
  position: fixed;
  top: 0;
  left: 0;
}

.adBanner {
  height: 2px;
  width: 2px;
  visibility: hidden;
}

/* Новый инпут */

#root {
  position: absolute;
}

#nickname {
  display: none;
  position: absolute;
  width: 62.5%;
  top: 50%;
  left: 17.5%;
  bottom: 44%;
  z-index: 10;
  border: none;
  padding-left: 8px;
  font-family: 'Bip';
  font-size: 120%;
  color: '#974f00';
}
#nickname:focus {
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}